.footer {
  background-color: #d6d3c8;
  padding: 40px 0;
}

.footer .paragraph {
  float: left;
  margin: 0 10px;
  font-size: 1.8em;
  line-height: 2em;
}

.footer .image {
  float: right;
}

@media (max-width: 739px) {
  .footer > .container {
    max-width: 300px
  }

  .footer .paragraph {
    float: none;
    margin: 0;
  }
  .footer .image {
    float: none;
    margin: 20px 0;
  }
}