.footer {
  background-color: #d6d3c8;
  padding: 40px 0;
}

.footer .image {
  float: right;
}

.footer .paragraph {
  font-size: 1.8em;
  line-height: 2em;
}

@media (max-width: 739px) {
  .footer .image {
    float: none;
    margin-top: 20px;
  }
}